html {
    background-color: #030507;
    line-height: 1.7;
  }
  body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}
#Header
{
    width: 960px;
    height: 150px;
}
#Content
{
    height: 100%;
    width: 960px;
}
/* Reveal and Hide Styles */
@media screen and (max-width: 767px) {
    .toggle-btn-visible {
      display: block;
    }
  
    .toggle-target-hidden {
      display: none;
    }
  
    .toggle-target-expanded {
      display: block;
    }
  }
  
  .main-area .toggle-btn-visible {
    display: block;
  }
  
  .main-area .toggle-target-hidden {
    display: none;
  }
  
  .main-area .toggle-target-expanded {
    display: block;
  }
  
/* Main Column Typography */
.main-area h2 {
    font-size: 165%;
    margin: 0 0 0.25em 0;
  }
  
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
  }
  
img {
    max-width: 100%;
    height: auto; 
    block-size: auto;

}
.for-pic {
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
}
.for-pic img {
    display: block;
  transition: all 0.4s;
}
.for-pic:hover img {
    transform: scale(1.1);
  }

.top-left {
    color: seashell;
    position: absolute;
    left: 25%;
    top: 30px;
    width: 50%;
    background-color: rgb(0, 0,0, .35);
    padding: 15px 23px;
}

.top-right {
    color: seashell;
    position: absolute;
    left: 25%;
    top: 30px;
    width: 50%;
    background-color: rgb(0, 0,0, .35);
    padding: 15px 23px;
}


#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 25px 10px;
    transition: 0.3s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    transition-property: color, background-color;
    transition-duration: 2s;
    left: -0.1px;
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 10px;
    border-radius: 4px;
    margin-right: 55px;
    transition-property: color, background-color;
    transition-duration: 1s;
    
}

#navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}

#navbar a:hover {
    color: #03A3AA
}

#navbar a.active {
    content: "";
    /* position: absolute; */
    border-bottom: 2px solid #d8d8d8;
    left: 16px;
    right: 16px;
    bottom: 18px;
}

#navbar-right {
    float: right;
}

@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  
* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.clearfix {
    background-color: black;
    margin-bottom: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;

}

img {
    border-radius: 25px;
}

p {
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
}

.half-box {
    width: 100%;
    background:;
    padding:20px;
    
}

.text-center {
    position: center;
    bottom: 20px;
    right: 10px;
    background-color: gainsboro;
    color: black;
    padding-left: 30px;
    padding-right: 10px;
}

.info {
    text-align: center;
    height: 200px;
    position: relative;
    border: 3px
    
    vertical-align: bottom;
    color: rgb(165, 160, 160);
    box-sizing: border-box;
}

.info1 {
    text-align: center;
    color: rgb(194, 189, 189);
    position: relative;
    bottom: 5px;

}

main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}
/* Bounce Animation */
@-webkit-keyframes fadeBounce {
    0% {
      opacity: 0;
      transform: translateY(-200%);
    }
  
    40% {
      transform: translateY(0);
    }
  
    55% {
      transform: translateY(-6px);
    }
  
    70% {
      opacity: 1;
      transform: translateY(0);
    }
  
    85% {
      transform: translateY(-3px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeBounce {
    0% {
      opacity: 0;
      transform: translateY(-200%);
    }
  
    40% {
      transform: translateY(0);
    }
  
    55% {
      transform: translateY(-6px);
    }
  
    70% {
      opacity: 1;
      transform: translateY(0);
    }
  
    85% {
      transform: translateY(-3px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* End Bounce Animation */
  
.box-a {
    opacity: 0;
    animation: fadeBounce 1s forwards;
    -webkit-animation: fadeBounce 1s forwards;
    background-color: #21425c;
    padding: 20px 20px 0 20px;
    border: 2px solid #29333b;
    margin-bottom: 30px;
    box-shadow: 0px 5px 5px -2px rgba(95, 81, 81, 0.945);
    border-radius: 10px;
  }
  
  .boxes :nth-child(2) .box-a {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }
  
  .boxes :nth-child(3) .box-a {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }
  
  .boxes :nth-child(4) .box-a {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
  }
footer{
    width: 100%;
    position: absolute;
    bottom: -340%;
    left: 0;
    right: 0;
    height:100px;
    background:rgb(24, 23, 23);
}

